<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceLayer/MyWCFService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyWCFService"
                contract="ServiceLayer.IMyWCFService" name="BasicHttpBinding_IMyWCFService" />
        </client>
    </system.serviceModel>
</configuration>